h1, h2, h3, h4, h5, h6, a{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.flex{
    margin-top: 32px;
    display: flex;
}

.container{
    max-width: 1200px;

    margin: 0 auto;
    padding: 8px 24px;
}

.add-button {
    cursor: pointer;

    display: block;
    border: 0;

    background-color: green;
    color: white;
    font-size: 64px;

    border-radius: 4px;

    padding: 16px;
}

.remove-button {
    margin-left: 32px;
    cursor: pointer;

    display: block;
    border: 0;

    background-color: red;
    color: white;
    font-size: 100px;

    border-radius: 4px;

    padding: 16px;
}